{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
{% block extra_css %}{% endblock %}
<title>{% block title %}LR2 katate IR{% endblock %}</title>
</head>
<body>
  <div class="container-fluid">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'tablesorter/dist/js/jquery.tablesorter.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script>
$.tablesorter.addParser({
    id: 'clear',
    is: function(s) {
        return false;
    },
    format: function(s) {
        return s.replace(/FULLCOMBO/,4).replace(/HARD/,3).replace(/CLEAR/,2).replace(/EASY/,1).replace(/FAILED/,0);
    },
    type: 'numeric'
});
$(document).ready(function()
  {
    $("#sorter").tablesorter({
      headers: {
        2: {
          sorter:'clear'
        }
      }
    });
  }
);
</script>
{% block extra_js %}{% endblock %}
</body>
</html>
